body {
    font-family: 'Source Serif Pro', serif;
    font-size: 16px;
    background-color: #F2E3D5;
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .description {
    white-space: pre-wrap;
  }
  
  .time-block {
    border-radius: 15px;
  }
  
  .row {
    border-top: 1px solid white;
  }
  
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #506266;
    color: #303123;
  }
  
  .present {
    background-color: #1949E6;
    color: white;
  }
  
  .future {
    background-color: #0E7320;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #F23005;
    color: white;
  }
  
  .saveBtn:hover {
    font-size: 40px;
    transition: all 0.3s ease-in-out;
  }
  